{% extends 'base_layout.html' %}

{% block content%}
<div class = "form">
    <h2>Iniciar sesión</h2>
    <form class="site-form" action="/accounts/login/" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <button type="submit" name="login">Enviar</button>
    </form>
</div>
<div class="msg">
    <a href="/accounts/signup/">Todavía no eres usuario? Pincha aquí</a>
</div>
{% endblock %}