{% extends 'base_layout.html' %}

{% block content %}
    {% if article %}
        <div class="create-article">
            <h2>Editar Articulo</h2>
            <form method="POST" class="edit-article" enctype="multipart/form-data">
                {% csrf_token %}
                {{ article }}
                <button type="submit">Editar</button>
            </form>
        </div>
    {% else %}
        <div class="msg">
            <p><a href="/">No tienes permiso para editar este articulo</a></p>
        </div>
    {% endif %}

{% endblock %}